
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    padding-left: 8vw;
    padding-top: 2vw;

}

.individualBox {
    width: 20vw;
    height: 25vw;
    display: grid;
    justify-content: space-around;
    grid-template-areas: 
        "titleBox" 
        "listItems";

    border: 5px inset orange;
    border-radius: 10px;
}
.titleBox {
    grid-area: titleBox;
}
.list_items {
    grid-area: listItems;
    
    
}





/* 
https://htmlcheatsheet.com/css/
*/
